@font-face {
  font-family: "Day Roman";
  src:
    local("DAYROM__"),
    url("../fonts/DAYROM__.ttf") format("opentype");
}
@font-face {
  font-family: Eastertide;
  src:
    local("Eastertide"),
    url("../fonts/Eastertide.ttf") format("opentype");
}
@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/CinzelDecorative-Regular.ttf');
}
@font-face {
    font-family: 'CinzelBold';
    src: url('../fonts/CinzelDecorative-Bold.ttf');
}
@font-face {
    font-family: 'CinzelBlack';
    src: url('../fonts/CinzelDecorative-Black.ttf');
}

#header .logo img {
    max-height: 56px;
}

.logo-text {
    background: -webkit-linear-gradient(83deg, rgb(133 107 12) 0%, rgb(156 115 53) 35%, rgb(237 247 52) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1em;
    font-family: Cinzel;
}


#biblecontainer {
    width: 80%;
    margin-top: 8em;
    margin-bottom: 3em;
    padding: 3em;
    background: url("../../../../media/img/old-book-pages-isolated-white_1373-1265.avif");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 4px 4px 22px #2a2a2a;
    line-height: 2;
    font-family: "Day Roman";
    font-size: 1.2em;
}

.verse {
    font-size: 1.2em;
    font-weight: bold;
}

#hero h1 {
  --bg-size: 400%;
  --color-one: hsl(52 14% 98% / 1);
  --color-two: hsl(40 95% 55%);
  font-family: sans-serif;
  font-size: clamp(3rem, 9vmin, 8rem);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  #hero h1 {
    animation: move-bg 20s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
