/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			Flat Style Gold
	Based on style:		prosilver (the default phpBB 3.3.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Ian Bradley ( http://phpbbstyles.iansvivarium.com/ )
    --------------------------------------------------------------
*/

@import url("../../flat-style/theme/normalize.css?v=1.1.8");
@import url("../../flat-style/theme/base.css?v=1.1.8");
@import url("../../flat-style/theme/utilities.css?v=1.1.8");
@import url("../../flat-style/theme/common.css?v=1.1.8");
@import url("../../flat-style/theme/links.css?v=1.1.8");
@import url("../../flat-style/theme/content.css?v=1.1.8");
@import url("../../flat-style/theme/buttons.css?v=1.1.8");
@import url("../../flat-style/theme/cp.css?v=1.1.8");
@import url("../../flat-style/theme/forms.css?v=1.1.8");
@import url("../../flat-style/theme/icons.css?v=1.1.8");
@import url("../../flat-style/theme/colours.css?v=1.1.8");
@import url("../../flat-style/theme/responsive.css?v=1.1.8");
@import url("../../flat-style/theme/flat.css?v=1.1.8");
@import url("colour-override.css?v=1.1.8");
