{{** Global website settings **}}

# Database settings
# db_type options:  mysql, mssql, postgresql or ODBC (select mysql if you're using MariaDB)
# Be sure to change host and/or port number if necessary. Those are just default values
# that work for most systems
db_type = "mysql"
db_host = "localhost"
db_port = ""
db_name = ""
db_user = ""
db_pass = ""

# Define default controller
# Enter the name of you controller, without the '_Controller' or .php extension
# e.g., 'Home_Controller' is just 'Home'
default_controller = "Home"

# Site URL. Include protocol (http or https), subdirectory (if applicable) and trailing slash
site_url = ""
site_name = ""
site_slogan = ""
site_email = ""
street_address = ""
city = ""
state = ""
zipcode = ""
telephone = ""
time_zone = "America/New_York"

# Admin IP address. Grants access to the Code Genie and the 'system' section of website
# Enter your IPv4 address below. You may enter multiple addresses, separate each IP with 
# a comma. e.g.,  "123.45.6789, 987.65.4321, 111.22.3333"
admin_ip = ""

# Error reporting ( ON / OFF / DEV MODE )
# This setting determines whether to display errors in browser.
# ON sets error reporting to E_ALL & ~E_NOTICE [show all errors except notices]
# DEV MODE sets error reporting to E_ALL [show all errors, including notices]
# OFF turns error reporting off completely
# It is intended for development purposes only --
# TURN THIS SETTING OFF IN A LIVE ENVIRONMENT
error_reports = "DEV MODE"

# Debug mode ( 'ON' / 'OFF' )
# Enabling debug mode returns detailed reports in the browser
# when many common exceptions occur.
# It is intended for development purposes only --
# TURN THIS SETTING OFF IN A LIVE ENVIRONMENT
debug_mode = "ON"

# Debug toolbar ( 'ON' / 'OFF' )
# Display the debug toolbar in footer.
# Recommended to turn the toolbar OFF in live environments, 
# due to sensitive information displayed
debug_toolbar = "OFF"

# Log run time errors to file ( /var/logs/system.log )
# Note -- turning this off will disable error logging;
# however, you can still manually log errors using the
# Logger toolbox helper ( i.e., $this->log->save() )
# [ ON / OFF ]
log_errors = "OFF"

# Path to log files
log_path = "var/logs/"

# Maximum file size allowed for log files
# Once this size is reached, the log file will be archived, and new log file created
# Enter the size in megabytes. Set to 100 MB by default
log_file_max_size = "100"

# File path settings. Update these values if you moved any folders outside of 
# your server's document root. Use FULL path names, and be sure to include the trailing slash.
# You must also save these changes in your composer.json file, and then run 'composer update'.

# The base_path is the full file path to the directory that contains your 
# app, public, src, var and vendor folders. By default, this value is set to the server document root 
# elsewhere internally by the application. 
# If you haven't moved any of your folders, leave this value blank. Otherwise, enter the 
# full file path to this folder, including the name. 
# If you moved it, enter the full path to this folder, including the name. DO NOT include 
# a trailing slash.
base_path = ""

# If installed in a subdirectory under the server DOCUMENT_ROOT, enter name of subdirectory
# folder here. No trailing slash. Otherwise, leave blank
subdir = ""

# By default, the system will inspect every single $_POST and $_GET submitted for unwanted
# or potentially dangerous input. However, many HTML tags are relatively benign, 
# and even useful in some applications that want to allow user submitted HTML.
# Most HTML tags simply deal with styling or content structure. Some examples of safe tags
# are <p>, <ol>, <li>, <h1> through <h6> and so on.
# Examples of dangerous tags are ones which would allow code to be injected, such as <script>
# tags which executed Javascript code.
# Should dangerous HTML tags be allowed to be submitted but automatically encoded by the system, 
# or should they be removed entirely? Encoding the tags will simply convert the special chars 
# to html entities, allowing you to display the submitted tags in a web page without actually executing the code.
# This could be useful for example in a website that allows users to share code snippets.
# If you're unsure, just leave the following on it's default option 'remove'
# Options are:  off | encode | remove
html_encode_tags = "remove"

# 'app' folder
# If you moved your app folder outside of the web server root directory,
# use full path name to the app folder. Include the trailing slash.
app_path = "app/"

# public directory contains your controllers, models, views, etc
# Same instructions as for app folder above (full path name, trailing slash)
public_path = "public/"

# Var folder; used for logs and caching
# Same instructions as for app folder above (full path name, trailing slash)
var_path = "var/"

template_name = "default"
# Site maintenance mode. [ ON / OFF ]
maintenance_mode = "OFF"
# [ ON / OFF ]
system_startup_check = "OFF"

/**************************************************************
 * Gzip compression
 * Set to 'ON' to enable compression, 'OFF' to disable
 *
 * If you get a blank page when compression is enabled,
 * it means that you are putting out content before the page
 * has begun loading.
 *
 * Nothing can be sent to the browser before compression begins,
 * even blank spaces.
 ***************************************************************/
compression = "ON"

system_folder = "src/"
public_folder = "public/"
var_folder = "var/"
template_folder = "app/template/"
template_url = "app/template/"

# Session cookie name
# Give this a unique name
session.name = "RhapsodyPHPSessionID"
# Recommended to leave this enabled for session security. 0 = disabled 1 = enabled
session.use_strict_mode = "1"
# Default setting is zero; i.e. until browser is closed
# Set this value in seconds if you wish to change the default behavior
session.cookie_lifetime = "0"
# Leave blank for default settings; otherwise you can specify the host name of your server here
session.cookie_domain = ""
# Marks the cookie as accessible only through the HTTP protocol. 
# This means that the cookie won't be accessible by scripting languages, such as JavaScript.
# This setting can effectively help to reduce identity theft through XSS attacks (although it is not supported by all browsers).
session.cookie_httponly = "FALSE"
# Default is nocache. [nocache, private, private_no_expire, public]
# See http://php.net/manual/en/function.session-cache-limiter.php for more information about each setting.
session.cache_limiter = "nocache"

### MAILER_DSN=smtp://user:pass@smtp.example.com:port ###
MAILER_DSN="smtp://username:password@smtp.mail.example.com:587"

# Memcached connection settings
memcached_host = "127.0.0.1"
memcached_port = "11211"