{% extends 'docs.html.twig' %}

{% block title %}Documentation | Install - Rhapsody Framework{% endblock %}

{% block content %}
<section id="installation">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Installation</h3>
            <div class="card-subtitle text-muted mb-3">
                Installing Rhapsody Framework is a breeze! Before you begin, please make sure that your environment 
                meets the following requirements. 
            </div>
            <div class="alert alert-primary">
                <h5 class="card-title"><i class="fa-solid fa-circle-exclamation shimR"></i> Requirements</h5>
                <p class="card-text">
                    <ul>
                        <li>Apache web server</li>
                        <li>PHP 8.3 or later</li>
                        <li>PDO compatible database (you can skip this requirement if your application does not use a database).</li>
                        <li>Command line (Windows) / Terminal (Unix/Linux) access</li>
                        <li>Composer package manager (http://getcomposer.org/download)</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Installing Rhapsody</h5>
            <p class="card-text">
                Download the framework archive to your server root directory (you may install in 
                a subdirectory if desired) and extract the package. You should now see four new folders:
                <h6><code>/app, /public, /src, /var</code></h6>
                as well as some new files:
                <p><h6><code>index.php, composer.json, .env.example, .htaccess</code></h6></p>
                <div class="alert alert-primary">
                    <i class="fa-solid fa-info-circle shimR"></i> The "installation directory" is considered to be the directory 
                    that contains the front controller (<code>index.php</code>) file. The front controller and htaccess files 
                    are the only files that are <strong>required</strong> to be stored under a web accessible directory.
                </div>
                The <code>/public</code> directory contains all of your web assets (CSS, Javascript, images, fonts, etc) 
                and like the front controller and htaccess files, should not be moved or renamed. However, for security purposes, it is recommended to 
                move the remaining folders and the <code>.env.example</code> file out of the server's document root directory 
                (typically named either '/htdocs', '/srv' or '/www') to a folder above it. While you are free to 
                move one or all of these folders whereever you wish, it is strongly recommended to keep the 
                <code>/app, /src, /var and /vendor</code> folders all under the same directory. This will help 
                ensure compatibility with future updates, and simplify things for you the developer as well.
            </p>
            
            <p class="card-text">
                Next, open a terminal and navigate to the directory that contains composer.json. Run 
                the following command to install all the framework's required dependencies:
            </p>
<pre>
<code><span style="color:rgb(82, 245, 82) !important">composer</span></code> <code class="language-none" data-plugin-header="show-language">update</code>
</pre>
            <p class="card-text">
                Once Composer has finished installing all packages, installation is complete. Before you 
                get started, visit the <a href="{{ base_url }}documentation/getting_started/config">Configuration</a> instructions.
            </p>
        </div>
    </div>
</section>
{% endblock %}