{% extends "porto.html.twig" %}

{% block title %}What does the Bible say about salvation?{% endblock %}

{% block meta_description %}
<meta name="description" content="Answering the question what does the Bible say about salvation?" />
{% endblock %}

{% block content %}
<div class="container">
	<div class="row pt-5">
		<div class="col">

			<div class="row text-center pb-5">
				<div class="col-md-9 mx-md-auto">
					<div class="overflow-hidden mb-3">
						<h1 class="word-rotator slide font-weight-bold text-8 mb-0 appear-animation" data-appear-animation="maskUp">
							<span>What does the Bible say about salvation?</span>
						</h1>
					</div>
					<div class="overflow-hidden mb-3">
						<p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">
							The Bibe gave us clear instructions on what salvation means and how to obtain it. We'll explore what those instructions were and the doctrine of "Once Saved, Always Saved".
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="section bg-color-grey section-height-3 border-0 m-0">
	<div class="container pb-2">
		<div class="row">
			<div class="col-lg-6 text-center text-md-start mb-5 mb-lg-0">
				<h2 class="text-color-dark font-weight-normal text-6 mb-2">The Gift of Salvation</h2>
				<p style="color: #242424">
					As followers of the Lord Jesus Christ, we are very well aware that the Bible tells us that we are born into sin (Psalm 51:5), and the wages for sin is death (Romans 5:12). Our only hope for salvation is to acknowledge the sacrifice that Jesus made, accept him into our hearts and repent from our sins and live our lives according to his teachings. By doing so, God <strong>promises</strong> us that we are saved, once and for all.
				</p>
				<p style="color: #242424">
					But that seemingly simple, straightforward assurance from God is misunderstood by many, particularly by those new to our faith. However, to understand the issues, first we must understand the basic premise of salvation, because there are many dangerous notions out there about that as well.
				</p>
				<p style="color: #242424">
					Below, we are going to examine the process of salvation, as well as some of the dangerous ideas that some of us hold. As always, we will turn to the Bible for our answers to gain a deeper understanding.
				</p>
			</div>
			<div class="col-lg-6">
				<div class="testimonial testimonial-style-2 testimonial-with-quotes testimonial-quotes-dark testimonial-remove-right-quote ps-md-4 mb-0">
					<div>
						<img src="{{ base_url }}public/media/img/backgrounds/man-with-crown-thorns-his-head-cross_81048-30941.avif" class="img-fluid rounded-circle mb-0" alt="Jesus' sacrifice on the cross">
					</div>
					<blockquote>
						<p class="text-color-dark text-4 line-height-5 mb-0">For God so loved the world that he gave his one and only Son, that whoever believes in him shall not perish but have eternal life.</p>
					</blockquote>
					<div class="testimonial-author">
						<p><strong class="text-color-dark font-weight-extra-bold text-2">John 3:16</strong><span>NIV Bible</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="container">
	<div class="row pt-5 pb-4">
		<div class="col-md-2">
			<img src="{{ base_url }}public/media/img/backgrounds/14ffe0927a4a5d990e1c4dc773116226.jpg" class="img-fluid mb-0" style="height: 216px;" alt="Jesus smiling">
		</div>
		<div class="col-md-10">
			<h2 class="font-weight-normal text-6 mb-2">Step 1: Accepting the sacrifice of Christ</h2>
			<p>
				As sinful beings, an atonement must be made in order for us to enter God's presence. We must pay for our sins. However, there is nothing that man can offer a holy, righteous God to atone for our sins. Plainly stated, we cannot save ourselves. Thankfully, God provided us a way out - he made the atonement for us by paying the cost for our sins with his own life.
			</p>
			<p>
				So then, with this understanding in mind, the only way to the Father is through Christ. By acknowledging and accepting the gift that Christ gave to us on the cross, we have completed the first step to salvation.
			</p>
		</div>
	</div>

	<div class="row pt-2 pb-0">
		<div class="col-md-9">
			<h2 class="font-weight-normal text-6 mb-2">Step 2: Repentance</h2>
			<p>
				The dictionary defines repentance as thus:
			</p>
			<blockquote>
				<strong>re·pent·ance</strong><br>
				/rəˈpentns/<br>
				<span class="text-grey">noun</span><br><br>
				the action of repenting; sincere regret or remorse.<br>
				<span class="text-grey"><em>"each person who turns to God in genuine repentance and faith will be saved"</em></span>
			</blockquote>
		</div>
		<div class="col-md-3">
			<img src="{{ base_url }}public/media/img/thumbnails/generosity.webp" class="img-fluid mb-0" alt="Man begging for forgiveness">
		</div>
	</div>
	<div class="row">
		<p>
			For Christians however, it takes on a deeper meaning. It is not enough to just feel sincere remorse; we must actively turn away from sin and sin no more. This leads us to our third, and final, requirement of salvation: obedience to God's commandments.
		</p>
	</div>

	<div class="row pt-2 pb-4">
		<div class="col-md-3">
			<img src="{{ base_url }}public/media/img/backgrounds/timeline-bible-a.jpg" class="img-fluid mb-0" alt="Adam, Eve and the serpent">
		</div>
		<div class="col-md-9">
			<h2 class="font-weight-normal text-6 mb-2">Step 3: Living righteously</h2>
			<p>
				Finally, for salvation to be complete, we must live as Jesus instructed us to:
			</p>
			<p>
				“Teacher, which is the greatest commandment in the Law?” Jesus replied: “ ‘Love the Lord your God with all your heart and with all your soul and with all your mind.’ This is the first and greatest commandment. And the second is like it: ‘Love your neighbor as yourself.’ All the Law and the Prophets hang on these two commandments.”  <br><strong>Matthew 22:36-40</strong> NIV
			</p>
			<p>
				Above, Jesus taught us that of all the commandments, the most important are to love God, and love each other. By following the three steps, we have escaped hell and gained eternal salvation in heaven with God.
			</p>
		</div>
	</div>

</div>

<section class="section bg-color-grey section-height-3 border-0 m-0">
	<div class="container">
		<div class="row">
			<div class="col">
				<p style="color: #242424">
					We now know what salvation is and how to get it. The rules are laid out for us, so what's the problem? The problem lies in the beliefs taught by others that are incompatible with what we just read above. There are misgivings about repentance as well as the idea of "once saved, always saved". These are actually intertwined with each other, so we will address it as a single issue. 
				</p>
			</div>
		</div>

		<div class="row">
			<h2 class="text-color-dark font-weight-normal text-6 mb-2">Once saved, always saved?</h2>
			<div class="col">
				<p style="color: #242424">
					Many Protestant churches, especially those with roots in Calvinist theology, believe that Christians who have been saved can never lose their salvation. The doctrine of Once Saved, Always Saved began with the teachings of John Calvin, (1509-64) who was a pastor, church reformer, author and teacher. This belief is closely connected to the Calvinist view of predestination, which teaches that long before He created the world God had already selected everyone for either eternal salvation or damnation in hell. According to this thinking, there is nothing a person can do to lose salvation if God has already predetermined that he or she will receive it.<br>

					But did Jesus Christ teach that all who believe in Him are guaranteed salvation?
				</p>
				<p style="color: #242424">
					<h4 class="text-color-dark font-weight-normal mb-2">What Jesus taught</h4>
					Did Jesus teach that those called by God today are assured eternal security?
				</p>
				<p style="color: #242424">
					In the Sermon on the Mount, Jesus used salt as an analogy to warn His disciples of a very specific danger. “You are the salt of the earth; but if the salt loses its flavor, how shall it be seasoned? It is then good for nothing but to be thrown out and trampled underfoot by men” (Matthew 5:13).
				</p>
				<p style="color: #242424">
					Jesus likened His disciples, both then and now, to salt to make two points. First, He showed how Christians are to metaphorically season this world through their character and good conduct (verse 16). Second, He warned Christians of the danger of losing their flavor—in other words, falling away from their faith and no longer seasoning the world. He warned that if that happened, just like bad salt they would be “thrown out and trampled underfoot” (verse 13). This was a clear reference to a verse in Malachi that describes the reward of the wicked (Malachi 4:3).
				</p>
				<p style="color: #242424">
					Later in His ministry, Christ warned that only someone who “endures to the end shall be saved” (Matthew 24:13).
				</p>
				<p style="color: #242424">
					The doctrine of eternal security tells Christians they can have total assurance they will ultimately be saved, but Jesus warned that we can be saved only if we stay faithful to the end of our lives or the age.
				</p>
				<p style="color: #242424">
					The belief of once saved, always saved is unbiblical and leads people to an inaccurate view of God and themselves. God will not ultimately save a Christian who completely turns his or her back on Him. Christians are not assured that they will receive eternal life regardless of what they do after their conversion.

					What Christians can have total assurance of is that “He who has begun a good work in you will complete it until the day of Jesus Christ” (Philippians 1:6).

					God will continue to do His part. He will continue working with us, forgiving us and helping us to become more like Him using the power of His Holy Spirit. But we must also do our part. The warnings in the scriptures quoted in this article should help Christians develop a healthy fear of the choice represented by that two-letter word:

					If.

					God will continue working with us and give us eternal salvation if we fight the good fight, finish the race and keep the faith until our last dying breath (2 Timothy 4:7).
				</p>
			</div>
		</div>
	</div>
</section>

{% endblock %}