{% extends 'docs.html.twig' %}

{% block title %}{{ book }} Intro  | Word of God{% endblock %}

{% block content %}
<section id="searchresults">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Introduction to {{ book }}</h3>
            <div class="card-subtitle text-muted mb-3">
            <dl class="row">
                <p class="card-text">
                {% if results|length > 0 %}
                	{% for result in results %}                
                        {{ result.text }}
                    {% endfor %}
                </p>
            </dl>
                {% else %}
                	<p>No results found</p>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}