@keyframes typing {
    from { width: 0; }
    to { width: 100%; visibility: visible; }
  }

  section {
    width: 100%;
   }
   .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 20px;
   }
   .container img {
    width: 420px;
   }
   .text {
    display: block;
    padding: 40px 40px;
    width: 450px;
   }
   .text h1 {
    color: #00c2cb;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 15px;
   }
   .text p {
    font-size: 15px;
    color: #e0ffff;
    margin-bottom: 15px;
    line-height: 1.5rem;
    margin-bottom: 15px;
   }
   .input-box{
    position: relative;
    display: flex;
    width: 100%;
   }
   .input-box input{
    width: 85%;
    height: 40px;
    padding: 5px 15px;
    font-size: 16px;
    color: #22232e;
    border-radius: 5px 0px 0px 5px;
    border: 2px solid #42455a;
    outline: none;
   }
   .input-box button{
    display: flex;
    width: 15%;
    border: 1px solid #004958;
    border-radius: 0px 5px 5px 0px;
    background: #004958;
    color: #e0ffff;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    cursor: pointer;  
   }
   .menu{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 30px;
   }
   .menu li a{
    display: flex;
    font-size: 1rem;
    color: #00c2cb;
    transition: 0.1s;
   }
   @media screen and (max-width:600px) {
    .container{
      display: flex;
      flex-direction: column-reverse;
    }
    .text,.image{
      width: 100%;
    } 
    .container{
      min-width: 200px;
      padding: 40px 0px;
    }
    .text{
      display: block;
      width: 100%;
      padding: 20px 40px;
    }
    .image{
      display: flex;
      width: 200px;
      align-self: center;
      justify-content: center;
      margin: auto;
    }
   }
   
  .pink {
    color: #ff97a4 !important;
  }
  
  body {
    background-color: #242424 !important;
    color: lime;
  }
  
  table {
    width: 100%;
    display: table-inline;
  }

  table caption {
    background-color: limegreen;
    color: #242424 !important;
  }

  table caption h3{
    color: #242424 !important;
  }

  table td {
    vertical-align: top;
  }

  table tr {
    line-height: 2em;
  }
  
  .debug1 {
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden;
    visibility: hidden;
    animation-name: typing;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-fill-mode: forwards;
  }

  .debug2 {
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden;
    visibility: hidden;
    animation-name: typing;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
  }

  .debug3 {
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden;
    visibility: hidden;
    animation-name: typing;
    animation-duration: 1.8s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
  }

  .debug4 {
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden;
    visibility: hidden;
    animation-name: typing;
    animation-duration: 7s;
    animation-timing-function: steps(200, end);
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-fill-mode: forwards;
  }

  .debug5 {
    font-family: monospace;
    font-size: 1.2em;
    overflow: hidden;
    visibility: hidden;
    animation-name: typing;
    animation-duration: 1.4s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-delay: 3.8s;
    animation-fill-mode: forwards;
  }
  