<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summary of the Book of Acts - The history of the early Christian church post-resurrection</h4>

    Critical scholars generally agree that the Acts of the Apostles weren’t authored by Paul’s companion. Moreover, they note its theological agenda and question the historical accuracy of certain parts. Despite these considerations, our summary will focus on presenting the narrative content of Acts, reflecting its themes and progression.
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Acts</td>
        <td>Luke</td>
        <td>Unknown Author</td>
        <td>C. 90 C.E.</td>
        <td>Acts 1:8 "You will be my witnesses in Jerusalem, and in all Judea and Samaria, and to the ends of the earth."</td>
      </tr>

    </tbody>
    </table>
</div>