<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summary for the Apocalyptic Book - Prophecies concerning the end times</h4>
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Revelation</td>
        <td>Apostle John</td>
        <td>John of Patmos</td>
        <td>C. 95-100 C.E.</td>
        <td>Rev 1:8 "I am the Alpha and the Omega,” says the Lord God, “who is, and who was, and who is to come, the Almighty.”</td>
      </tr>

    </tbody>
    </table>
</div>