<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for the General Epistles - Letters written by various authors to early Christian communities</h4>
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Hebrews</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>C. 80-90 C.E.</td>
        <td>Heb 4:14 "We have a great high priest who has ascended into heaven."</td>
      </tr>

      <tr>
        <td>James</td>
        <td>James, brother of Jesus</td>
        <td>Unknown Author</td>
        <td>C. 70-90 C.E.</td>
        <td>James 2:17 "Faith by itself, if it is not accompanied by action, is dead."</td>
      </tr>

      <tr>
        <td>1 Peter</td>
        <td>Peter</td>
        <td>Unknown Author</td>
        <td>C. 70-90 C.E.</td>
        <td>1 Peter 1:7 "The genuineness of your faith... may be found to praise, honor, and glory at the revelation of Jesus Christ."</td>
      </tr>

      <tr>
        <td>2 Peter</td>
        <td>Peter</td>
        <td>Unknown Author</td>
        <td>C. 100-130 C.E.</td>
        <td>2 Peter 3:9 "The Lord is not slack concerning His promise... but is longsuffering toward us, not willing that any should perish."</td>
      </tr>

      <tr>
        <td>1 John</td>
        <td>John</td>
        <td>Unknown Author</td>
        <td>C. 100 C.E.</td>
        <td>1 John 5:13 "I write these things to you who believe... that you may know you have eternal life."</td>
      </tr>

      <tr>
        <td>2 John</td>
        <td>John</td>
        <td>Unknown Author</td>
        <td>C. 100 C.E.</td>
        <td>2 John 1:6 "This is love, that we walk according to His commandments."</td>
      </tr>

      <tr>
        <td>3 John</td>
        <td>John</td>
        <td>Unknown Author</td>
        <td>C. 100 C.E.</td>
        <td>3 John 1:4 "I have no greater joy than to hear that my children walk in truth."</td>
      </tr>

      <tr>
        <td>Jude</td>
        <td>Jude, brother of James</td>
        <td>Jude / Jude, the brother of Jesus / Unknown author</td>
        <td>C. 60-100 C.E.</td>
        <td>Jude 1:3 "I found it necessary to write to you exhorting you to contend earnestly for the faith."</td>
      </tr>

    </tbody>
    </table>
</div>