<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for the Gospels - The first four books of the New Testament, four accounts of the life and teachings of Jesus Christ</h4>

    Critical scholarship acknowledges that the Gospels in the New Testament represent a blend of historical events, traditional narratives, and legendary elements, all shaped by their authors' theological perspectives. Each Gospel focuses on Jesus’ teachings, ministry, life, death, and resurrection. Our summaries aim to present their core narratives, without asserting historical accuracy or resolving theological interpretations.
</p>

        
        
        
        

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Matthew</td>
        <td>Matthew</td>
        <td>Unknown Author</td>
        <td>C. 80-90 C.E.</td>
        <td>Matt 5:17 "I have not come to abolish but to fulfill."</td>
      </tr>

      <tr>
        <td>Mark</td>
        <td>Mark</td>
        <td>Unknown Author</td>
        <td>c. 70 C.E.</td>
        <td>Mark 10:45 "The Son of Man came to serve."</td>
      </tr>

      <tr>
        <td>Luke</td>
        <td>Luke</td>
        <td>Unknown Author</td>
        <td>C. 85-90 C.E.</td>
        <td>Luke 19:10 "The Son of Man came to seek and to save the lost."</td>
      </tr>

      <tr>
        <td>John</td>
        <td>John</td>
        <td>Unknown Author</td>
        <td>C. 90-100 C.E.</td>
        <td>John 14:6 "I am the way, the truth, and the life."</td>
      </tr>

    </tbody>
    </table>
</div>