<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for the Historical Books - Narratives of Israel's History Post-Egypt to the Babylonian Exile</h4>

    The historical books make up twelve of the 66 books of the Bible.  They begin with Joshua and end with Esther. These books, while traditionally ascribed to specific authors and considered historical accounts, are viewed critically by contemporary scholars, with their authorship remaining largely unknown. Despite these uncertainties, our summaries aim to objectively present the narrative content of these texts, without endorsing or disputing their historical or authorial claims.
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Joshua</td>
        <td>Joshua</td>
        <td>Unknown Authors</td>
        <td>7th to 6th Century B.C.E.</td>
        <td>Josh 24:15 "As for me and my house..."</td>
      </tr>

      <tr>
        <td>Judges</td>
        <td>Samuel</td>
        <td>Multiple Unknown Authors</td>
        <td>6th Century B.C.E.</td>
        <td>Judg 21:25 "Everyone did what was right..."</td>
      </tr>

      <tr>
        <td>Ruth</td>
        <td>Samuel</td>
        <td>Unknown Authors</td>
        <td>6th to 5th Century B.C.E.</td>
        <td>Ruth 1:16 "Where you go, I will go..."</td>
      </tr>

      <tr>
        <td>1 Samuel</td>
        <td>Samuel, Nathan, and Gad</td>
        <td>Multiple Unknown Authors</td>
        <td>7th to 6th Century B.C.E.</td>
        <td>1 Sam 16:7 "The Lord looks at the heart."</td>
      </tr>

      <tr>
        <td>2 Samuel</td>
        <td>Samuel, Nathan, and Gad</td>
        <td>Multiple Unknown Authors</td>
        <td>7th to 6th Century B.C.E.</td>
        <td>2 Sam 7:16 "Your throne will be established..."</td>
      </tr>

      <tr>
        <td>1 Kings</td>
        <td>Jeremiah</td>
        <td>Multiple Unknown Authors</td>
        <td>7th to 6th Century B.C.E.</td>
        <td>1 Kings 3:9 "Give your servant a discerning heart."</td>
      </tr>

      <tr>
        <td>2 Kings</td>
        <td>Jeremiah</td>
        <td>Multiple Unknown Authors</td>
        <td>7th to 6th Century B.C.E.</td>
        <td>2 Kings 17:22 "Israel had sinned against the Lord..."</td>
      </tr>

      <tr>
        <td>1 Chronicles</td>
        <td>Ezra</td>
        <td>Multiple Unknown Authors</td>
        <td>400-300 B.C.E.</td>
        <td>1 Chron 16:11 "Seek the Lord and His strength."</td>
      </tr>

      <tr>
        <td>2 Chronicles</td>
        <td>Ezra</td>
        <td>Multiple Unknown Authors</td>
        <td>400-300 B.C.E.</td>
        <td>2 Chron 7:14 "If my people humble themselves..."</td>
      </tr>

      <tr>
        <td>Ezra</td>
        <td>Ezra</td>
        <td>Multiple Unknown Authors</td>
        <td>5th Century B.C.E.</td>
        <td>Ezra 7:10 "Ezra had set his heart..."</td>
      </tr>

      <tr>
        <td>Nehemiah</td>
        <td>Nehemiah</td>
        <td>Multiple Unknown Authors</td>
        <td>5th Century B.C.E.</td>
        <td>Neh 2:20 "The God of heaven will give us success."</td>
      </tr>

      <tr>
        <td>Esther</td>
        <td>Unknown Author</td>
        <td>Unknown Author</td>
        <td>4th Century B.C.E.</td>
        <td>Est 4:14 "For such a time as this."</td>
      </tr>

    </tbody>
    </table>
</div>