<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for the Minor Prophets - Shorter prophetic works in the Old Testament</h4>

    Scholarly analysis of the Minor Prophets in the Old Testament emphasizes understanding these texts within their original historical and cultural contexts, rather than through later interpretive lenses, such as Christian messianic expectations. In our summaries, we aim to present these books' themes and messages while maintaining an objective stance, focusing on their narrative and prophetic content as it relates to the period in which they were written.
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Hosea</td>
        <td>Hosea</td>
        <td>Unknown Author (possibly Hosea’s student)</td>
        <td>End of the 8th century B.C.E.</td>
        <td>Hosea 6:6 "For I desire steadfast love..."</td>
      </tr>

      <tr>
        <td>Joel</td>
        <td>Joel</td>
        <td>Joel or an Unknown (later) Author</td>
        <td>C. 8th to 4th Century B.C.E.</td>
        <td>Joel 2:32 "Everyone who calls on the name of the Lord will be saved."</td>
      </tr>

      <tr>
        <td>Amos</td>
        <td>Amos</td>
        <td>Unknown Author</td>
        <td>C. 8th to 5th Century B.C.E.</td>
        <td>Amos 5:24 "Let justice roll on like a river..."</td>
      </tr>

      <tr>
        <td>Obadiah</td>
        <td>Obadiah</td>
        <td>Obadiah</td>
        <td>6th Century B.C.E.</td>
        <td>Obad 1:15 "The day of the Lord is near for all nations."</td>
      </tr>

      <tr>
        <td>Jonah</td>
        <td>Jonah</td>
        <td>Unknown Author</td>
        <td>C. 5th to 4th Century B.C.E.</td>
        <td>Jonah 2:9 "Salvation comes from the Lord."</td>
      </tr>

      <tr>
        <td>Micah</td>
        <td>Micah</td>
        <td>Unknown Author</td>
        <td>5th Century B.C.E.</td>
        <td>Micah 6:8 "Act justly, love mercy, walk humbly..."</td>
      </tr>

      <tr>
        <td>Nahum</td>
        <td>Nahum</td>
        <td>Nahum</td>
        <td>7th Century B.C.E.</td>
        <td>Nahum 1:7 "The Lord is good, a refuge in times of trouble."</td>
      </tr>

      <tr>
        <td>Habakkuk</td>
        <td>Habakkuk</td>
        <td>Possibly Habakkuk</td>
        <td>End of 7th or the Beginning of the 6th Century B.C.E.</td>
        <td>Hab 2:4 "The righteous will live by his faith."</td>
      </tr>

      <tr>
        <td>Zephaniah</td>
        <td>Zephaniah</td>
        <td>Zephaniah/Multiple Unknown Authors</td>
        <td>7th or 6th Century B.C.E.</td>
        <td>Zeph 3:17 "The Lord your God is with you..."</td>
      </tr>

      <tr>
        <td>Haggai</td>
        <td>Haggai</td>
        <td>Haggair/ Unknown Author</td>
        <td>6th or the Beginning of the 5th Century B.C.E.</td>
        <td>Hag 2:9 "The glory of this present house will be greater than the glory of the former house."</td>
      </tr>

      <tr>
        <td>Zechariah</td>
        <td>Zechariah</td>
        <td>Multiple Unknown Authors</td>
        <td>6th to 5th Century B.C.E.</td>
        <td>Zech 9:9 "See, your king comes to you, righteous and having salvation."</td>
      </tr>

      <tr>
        <td>Malachi</td>
        <td>Ezra</td>
        <td>Unknown Author</td>
        <td>5th Century B.C.E.</td>
        <td>Mal 3:10 "Bring the whole tithe into the storehouse..."</td>
      </tr>

    </tbody>
    </table>
</div>