<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for the Pauline Epistles - Letters written by (or attributed to) the Apostle Paul</h4>

    Of the 66 books of the Bible, tradition says that the Apostle Paul wrote 13 of them.  If true, that would mean Paul wrote approximately 20% of the books in the Bible!  There is dispute amongst scholars, however, as to how many of the books attributed to Paul were actually written by him. 
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Romans</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 57-58 C.E.</td>
        <td>Rom 1:17 "The righteous will live by faith."</td>
      </tr>

      <tr>
        <td>1 Corinthians</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 56-57 C.E.</td>
        <td>1 Cor 13:13 "And now these three remain: faith, hope and love. But the greatest of these is love."</td>
      </tr>

      <tr>
        <td>2 Corinthians</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 57 C.E.</td>
        <td>2 Cor 5:17 "Therefore, if anyone is in Christ, he is a new creation."</td>
      </tr>

      <tr>
        <td>Galatians</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 54-55 C.E.</td>
        <td>Gal 2:20 "I have been crucified with Christ..."</td>
      </tr>

      <tr>
        <td>Ephesians</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>C. 90-100. C.E.</td>
        <td>Eph 2:8 "For by grace you have been saved through faith."</td>
      </tr>

      <tr>
        <td>Philippians</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 56 C.E. or 61-62 C.E.</td>
        <td>Phil 4:13 "I can do all things through Christ who strengthens me."</td>
      </tr>

      <tr>
        <td>1 Thessalonians</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 50-51 C.E.</td>
        <td>1 Thess 4:17 "Then we who are alive... will be caught up together with them in the clouds..."</td>
      </tr>

      <tr>
        <td>2 Thessalonians</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>C. 80-100 C.E.</td>
        <td>2 Thess 3:3 "But the Lord is faithful, who will establish you."</td>
      </tr>

      <tr>
        <td>1 Timothy</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>90-110 C.E.</td>
        <td>1 Tim 2:5 "For there is one God, and one mediator between God and men, the man Christ Jesus;"</td>
      </tr>

      <tr>
        <td>2 Timothy</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>90-110 C.E.</td>
        <td>2 Tim 4:7 "I have fought the good fight, I have finished the race, I have kept the faith."</td>
      </tr>

      <tr>
        <td>Titus</td>
        <td>Paul</td>
        <td>Unknown Author</td>
        <td>C. 90-110 C.E.</td>
        <td>Titus 2:11 "For the grace of God has appeared, bringing salvation for all people."</td>
      </tr>

      <tr>
        <td>Philemon</td>
        <td>Paul</td>
        <td>Paul</td>
        <td>C. 55 or 61-63 C.E.</td>
        <td>Philem 1:15 "For perhaps he was for this reason separated from you for a while, that you would have him back forever."</td>
      </tr>

    </tbody>
    </table>
</div>