<p class="mt-5" style="font-size: 1.25rem; font-weight: 300;">
    <h4>Summaries for The Pentateuch (Torah) - The first five books of the Bible, often referred to as "The Law"</h4>

    Critical scholarship often questions the historicity of the Pentateuch, viewing figures like Moses as more mythical than historical. Our summaries focus on the narratives of these texts, presented objectively, without endorsing specific religious interpretations.
</p>

<div class="table-responsive text-nowrap mt-2 mb-4">
    <table class="table">
    <thead class="table-dark">
      <tr>
        <th>Book</th>
        <th>Traditional Authorship</th>
        <th>Common Scholarly View</th>
        <th>Date Written</th>
        <th>Key Verse</th>
      </tr>
    </thead>
    <tbody class="table-border-bottom-0">
      <tr>
        <td>Genesis</td>
        <td>Traditionally Moses</td>
        <td>Multiple (unknown) authors</td>
        <td>10th to 5th century B.C.E.</td>
        <td>Gen 1:1 "In the beginning..."</td>
      </tr>

      <tr>
        <td>Exodus</td>
        <td>Traditionally Moses</td>
        <td>Multiple (unknown) authors</td>
        <td>600 - 400 B.C.E.</td>
        <td>Ex 3:14 "I AM WHO I AM."</td>
      </tr>

      <tr>
        <td>Leviticus</td>
        <td>Traditionally Moses</td>
        <td>Multiple (unknown) authors</td>
        <td>550-300 B.C.E.</td>
        <td>Lev 20:26 "You shall be holy..."</td>
      </tr>

      <tr>
        <td>Numbers</td>
        <td>Traditionally Moses</td>
        <td>Multiple (unknown) authors</td>
        <td>550-300 B.C.E.</td>
        <td>Num 6:24 "The Lord bless you..."</td>
      </tr>

      <tr>
        <td>Deuteronomy</td>
        <td>Traditionally Moses</td>
        <td>Multiple (unknown) authors</td>
        <td>c. 7th to 5th century B.C.E.</td>
        <td>Deut 6:5 "Love the Lord..."</td>
      </tr>
    </tbody>
    </table>
</div>