<section class="call-to-action call-to-action-primary mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-9">
                <div class="call-to-action-content">
                    <h3>Everything we make is available for free because of a generous community of supporters.</h3>
                    {# <p class="mb-0">The Best HTML Site Template on ThemeForest</p> #}
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="call-to-action-btn">
                    <a href="{{ base_url }}donations" target="_blank" class="btn btn-modern text-2 btn-quaternary border-0">Support Faith Project</a>
                </div>
            </div>
        </div>
    </div>
</section>