{% extends 'docs.html.twig' %}
{% block title %}Search the Bible  | Word of God{% endblock %}
{% block content %}
<section id="searchpage">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title text-center">Search Options</h3>
            <div class="card-subtitle text-muted mb-3">
                <p class="card-text">
                <div class="form-floating">
                        <input
                          type="text"
                          class="form-control"
                          id="bibleVerse"
                          placeholder="John 3:16"
                          aria-describedby="bibleVerseHelp"
                        />
                        <label for="bibleVerse">Find Verse</label>
                        <div id="bibleVerseHelp" class="form-text">
                          Book, chapter and verse are required
                        </div>
                      </div>
                </p>
            </div>
        </div>
    </div>
</section>

<script>
$("#bibleVerse").change(function(){
    var input = $(this).val();
    var regex = new RegExp(/(\d*)\s*([a-z]+)\s*(\d+)([?::(\d+)])?(\s*-\s*(\d+)(?:\s*([a-z]+)\s*(\d+))?(?::(\d+))?)?/i);
    if(regex.test(input)) {
        alert("true");
    }else {
        alert("false");
        return false;
    }
});
</script>
{% endblock %}