{% extends 'porto.html.twig' %}
{% block title %}Search Results{% endblock %}
{% block content %}
<section id="searchpage">
<script async src="https://cse.google.com/cse.js?cx=70c6a34b24d2e4914">
</script>
<div class="gcse-searchresults-only"></div>
</section>

<script>
$("#bibleVerse").change(function(){
    var input = $(this).val();
    var regex = new RegExp(/(\d*)\s*([a-z]+)\s*(\d+)([?::(\d+)])?(\s*-\s*(\d+)(?:\s*([a-z]+)\s*(\d+))?(?::(\d+))?)?/i);
    if(regex.test(input)) {
        alert("true");
    }else {
        alert("false");
        return false;
    }
});
</script>
{% endblock %}