<section class="page-header page-header-classic page-header-sm">
	<div class="container">
		<div class="row">
			<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
				<span class="page-header-title-border visible"></span>
				<h1 data-title-border="">
				{% block page_intro %}
					{{ current_page|title }}
				{% endblock %}
				</h1>
			</div>
			<div class="col-md-4 order-1 order-md-2 align-self-center">
				<ul class="breadcrumb d-block text-md-end">
					<li>
						{% block page_action %}
							<a href="#">{{ current_page|title }}</a>
						{% endblock %}
					</li>
					<li class="active">
						{% block page_param %}
							{{ current_action|title }}
						{% endblock %}
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>