{% extends 'base.html.twig' %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <p class="hero">
            {{ site_name }}
        </p>
        {{ message }}

        <pre>
        <code class="language-php">
            namespace App\Controller;

            use \Src\Base_Controller;

            class Home_Controller extends Base_Controller {

                public function index()
                {
                    // Do stuff
                }
            }
        </code>
        </pre>

</section>
{% endblock %}