{% extends "docs.html.twig" %}

{% block title %}Components - Rhapsody Framework Documentation{% endblock %}

{% block content %}
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <p class="important">
            
        </p>
    </div>
</section>
{% endblock %}