<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-7 col-lg-9">
        <h1 class="boujee-text">
        {% if lang == 'spanish'%}
          "Y conoceréis la verdad, y la verdad os hará libres".
        {% elseif lang == 'french'%}
          "Et vous connaîtrez la vérité, et la vérité vous libérera."
        {% elseif lang == 'german'%}
          „Und ihr werdet die Wahrheit erkennen, und die Wahrheit wird euch frei machen.“
        {% else %}
          "And you will know the truth, and the truth will set you free."
          {% endif %}</h1>
        <h2 style="color: #ffc451;">
        {% if lang == 'spanish'%}
          -- Juan 8:32
        {% elseif lang == 'french'%}
          -- Jean 8:32
        {% elseif lang == 'german'%}
          –- Johannes 8:32
        {% else %}
          -- John 8:32
          {% endif %}</h2>
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      
    </div>

  </div>
</section><!-- End Hero -->